{% extends 'cabinets/base.html' %}

{% block title %}
    Регистрация пользователя
{% endblock %}

{% block content %}
    <h2>Регистрация пользователя</h2>
<form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <label for="username">Имя:</label><br>
        <input type="text" id="username" name="username" required><br>

        <label for="contact_info">Контактные данные:</label><br>
        <input type="text" id="contact_info" name="contact_info" required><br>

        <label for="experience">Опыт работы:</label><br>
        <input type="text" id="experience" name="experience" required><br>

        <label for="password1">Пароль:</label><br>
        <input type="text" id="password1" name="password1" required><br>

        <label for="password2">Повтори пароль:</label><br>
        <input type="text" id="password2" name="password2" required><br>

        <label for="role">Исполнитель или заказчик?(если не выбрать - будете заказчиком):</label><br>
        <input type="radio" id="role" name="role" value="customer"> Исполнитель<br>
        <input type="radio" id="role" name="role" value="performer"> заказчик<br>

        <label for="is_superuser">Будешь администратором?:</label><br>
        <input type="checkbox" id="is_superuser" name="is_superuser" value="true"> True<br>

        <input type="submit" value="Отправить">
    </form>
{% endblock %}
